<h1>Boats</h1>

<%= form_for @boat do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :seats %>
<%= f.number_field :seats %>

<%= f.label :price %>
<%= f.number_field :price %>

<%= f.label :image_url %>
<%= f.text_field :image_url %>

<%= f.label :city_id %>
 <%= f.collection_select(:city_id, City.all, :id, :name) %>

<%= f.submit (@boat.new_record? ? "Create" : "Update") %>
<% end %>
